body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #EEEDEB;
    opacity: 0.8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #0000;
    width: 350px;
    max-height: 80vmin;

}

.container:hover {
    box-shadow: 0 8px 16px;
}

h2 {
    text-align: center;
    color: black;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 9px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

#details {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}
